* {
    box-sizing: border-box;
}
html, body {
    font-family: Helvetica, Arial, sans-serif
}
body {
    background-color: #404040;
    margin: 0;
    --vw: 100vw;
    --vh: 100vh;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    touch-action: manipulation;
}

.overlay {
    position: fixed;
    left: 100vw;
    width: 100vw;
    z-index: 1;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: left 0.3s ease-in-out;
}
.overlay.show {
    left: 0;
}

.overlay-content {
    text-align: center;
    padding: 0 4vw;
    margin: 0 auto 20px auto;
    max-width: 500px;
    min-width: 320px;
}

.overlay h2, .overlay h4 {
    padding: 8px 0;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    font-weight: normal;
    transition: 0.3s;
    text-align: center;
    margin: 20px 0 10px 0;
}
.overlay h4 {
    color: #999;
    font-size: 20px;
    text-align: left;
    margin: 20px 0 5px 0;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
#main-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
#app {
    display: flex;
    justify-items: stretch;
    height: var(--vh);
    /*height: -webkit-fill-available;*/
    width: var(--vw);
    overflow: hidden;
}
@media (orientation: portrait) {
    #app {
        flex-direction: column;
    }
    #main {
        width: 100vw;
        min-height: calc(var(--vh) * 0.7);
    }
    #settings {
        min-height: calc(var(--vh) * 0.3);
        transform: translateX(0);
        width: 200vw;
        flex-direction: row;
        flex: 0 0;
    }
    #settings.show-calibration {
        transform: translateX(-100vw);
    }
    #calibration_div, #temperature_div {
        width: 100vw;
        border-top: 1px solid #808080;
    }
    #thumb-container {
        flex-direction: row;
        min-height: 25vmin;
        width: 100%;
        height: 100%;
    }
    #temperature_display {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .calibration-controls {
        flex-direction: row;
    }
}

@media (orientation: landscape) {
    #app {
        flex-direction: row;
        width: 100vw;
    }
    #settings {
        transform: translateY(0);
        height: calc(var(--vh) * 2);
        flex-direction: column;
        flex: 0 1 auto;
    }
    #main {
        height: 100vh;
    }
    #settings.show-calibration {
        transform: translateY(-100vh);
    }
    #calibration_div, #temperature_div {
        height: 100vh;
        border-left: 1px solid #808080;
    }
    #thumb-container {
        flex-direction: column-reverse;
        min-width: 25vmin;
        height: 100%;
        width: 100%;
    }
    #temperature_display {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .calibration-controls {
        flex-direction: column-reverse;
    }
    .calibration-controls button {
        width: 100%;
    }
}


#main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 2 auto;
}

#settings {
    display: flex;
    transition: all 0.3s ease-in-out;
}

#canvas-outer {
    max-width: 80vh;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 660px) {
    #canvas-outer {
        max-width: 80vw;
    }
}

#debug-canvas, #overlay-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid black;
}
#status-text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    color: white;
    font-size: 7vmin;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    text-shadow: 2px 2px #1b1e21;
    transition: all 0.5s;
    user-select: none;
}
#status-text.has-message {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
}
#status-text.pulse-message {
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
#status-text > span {
    display: block;
}
#app.scan #fov-box, #app.ffc #fov-box, #app.init #fov-box {
    display: none;
}
#fov-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fov-box > div {
    position: relative;
    width: 100%;
    height: 100%;
}
.fov-handle {
    width: 44px;
    height: 44px;
    background: #ccc;
    border-radius: 50%;
    box-shadow: #333 0 1px 5px;
    background: radial-gradient(#ddd, #bbb);
    position: absolute;
}
.fov-handle > svg {
    pointer-events: none;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    position: absolute;
}
.fov-handle path {
    fill: #444;
}
#fov-box #top-handle {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
}
#fov-box #left-handle {
    left: 0;
    top: 50%;
    transform: translateX(-30%) translateY(-50%);
}
#fov-box #right-handle {
    right: 0;
    top: 50%;
    transform: translateX(30%) translateY(-50%);
}
#fov-box #bottom-handle {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(30%);
}


#main_canvas {
    background: black;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}
[style*="--aspect-ratio"] > canvas {
    height: auto;
}
@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }
    [style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}

#temperature_display {
    text-align: center;
    font-size: 30px;
    min-height: 60px;
    line-height: 200%;
    align-items: center;
}

#calibration_div, #temperature_div {
    background: #404040;
    flex-direction: column;
    display: flex;
    align-content: center;
    padding: 0;
}


#calibration_button {
    position: absolute;
    left: 0;
}

.calibration-controls {
    display: flex;
    color: white;
    font-size: 8vmin;
    padding: 15px 15px 0 15px;
    align-items: center;
    justify-content: space-between;
    line-height: 150%;
}
.calibration-controls:last-child {
    padding: 15px;
}

#calibration_div {
    justify-content: space-between;
}

.calibration-controls svg {
    width: 44px;
    height: 44px;
    display: block;
    margin: 0 auto;
    background: #1c7430;
    border-radius: 50%;
    padding: 7px;
}
.calibration-controls .minus-svg {
    background: #0f6674;
}
.calibration-controls .plus-svg {
    background: #bd2130;
}
.calibration-controls .minus-svg > path, .calibration-controls .plus-svg > path {
    fill: white;
}
.calibration-controls label {
    display: inline-block;
}

.calibration-controls input {
    text-align: center;
    font-size: 8vmin;
    width: 25vmin;
}
.nav-button {
    position: absolute;
    top: 15px;
    background: transparent;
    width: 44px;
    height: 44px;
    padding: 0;
    cursor: pointer;
    line-height: 0;
}
#calibration_button {
    left: 15px;
}
#admin_button {
    right: 2vw;
}
.nav-button:active {
    background: transparent;
}
.nav-button  {
    width: 44px;
    height: 44px;
}
.nav-button svg {
    fill: #808080;
    transition: fill 0.3s;
    width: 44px;
    height: 44px;
}
.nav-button:active path {
    fill: white;
}

button {
    font-size: 6vmin;
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding: 1vh;
    color: #333;
    cursor: pointer;
    background: white;
    user-select: none;
}
button:active {
    background: #ddd;
    transform: translateX(1px) translateY(2px);
}

#title_div {
    text-align: center;
    color: white;
    margin: 0;
    display: block;
    font-size: 40px;
    line-height: 70px;
    height: 70px;
    user-select: none;
}

#thumb-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: end;
}

#thumb-container img {
    opacity: 0.3;
    transition: all 0.3s;
    height: 5vh;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

#thumb-container img.selected {
    opacity: 1;
    transform: scale(2);
    animation-name: bounce-6;
    animation-play-state: running;
    animation-timing-function: ease-out;

}
#temperature_label {
    user-select: none;
}

#temperature_display {
    color: white;
    user-select: none;
    border-bottom: 1px solid #808080;
}
#temperature_div {
    transition: background 0.3s;
}
#temperature_div.cold-state {
    background: #3131b9;
}
#temperature_div.normal-state {
    background: #01b901;
}
#temperature_div.check-state {
    background: #F0D300;
}
#temperature_div.fever-state {
    background: #ff0305;
}
#temperature_div.error-state {
    color: white;
    background: #ff00ff;
}
#temperature_div.error-state.error2-state {
    color: white;
    background: #220022;
}

#scan_button {
    width: 100%;
    line-height: 250%;
}

.check-state > #temperature_display {
    color: darkred;
}

#thumb-container img.unselected {
    opacity: 0.2;
    height: 17vh;
}
#version-info {
    color: white;
    margin: 20px 0;
}
#version-info ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
    min-width: 400px;
}
#version-info ul > li {
    line-height: 150%;
}
#version-info ul > li > span:first-child {
    display: inline-block;
    min-width: 110px;
}
#version-info ul > li > span:first-child:after {
    content: ":"
}
#version-info ul > li > span:last-child {
    margin-left: 10px;
}

#temperature-source {
    color: white;
    text-align: left;

}
#temperature-source > div {
    margin-bottom: 10px;
}
#temperature-source > div > label {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    line-height: 44px;
    min-height: 44px;
}
#temperature-source > div > input {
    display: none;
}
#temperature-source > div > input:checked + label {
    background: rgba(255, 255, 255, 1);
    font-weight: bold;
    color: #333;
}
#admin_close_button {
    margin-top: 20px;
    width: 100%;
}

@keyframes bounce-6 {
    0%   { transform: scale(2,2)      translateY(0); }
    10%  { transform: scale(2.1,1.9)   translateY(0); }
    30%  { transform: scale(1.9,2.1)   translateY(-15px); }
    50%  { transform: scale(2.05,1.95) translateY(0); }
    57%  { transform: scale(2,2)      translateY(-7px); }
    64%  { transform: scale(2,2)      translateY(0); }
    100% { transform: scale(2,2)      translateY(0); }
}

@keyframes pulse {
    0% { color: gold }
    50% { color: magenta }
    100% { color: gold }
}
