* {
    box-sizing: border-box;
}
html, body {
    font-family: Helvetica, Arial, sans-serif
}
body {
    background-color: #404040;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    touch-action: manipulation;
}

.overlay {
    position: fixed;
    left: -100vw;
    width: 100vw;
    z-index: 1;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: left 0.5s ease-in-out;
}
.overlay.show {
    left: 0;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    pointer-events: none;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#app {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#main {
    width: 100vw;
    background: #404040;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 2vh;
}

#settings {
    transform: translateX(0);
}

#canvas-outer {
    max-width: 60vmin;
    flex-shrink: 0.5;
    left: 50%;
    margin: 2vh 0;
    transform: translateX(-50%);
}
@media screen and (max-width: 660px) {
    #canvas-outer {
        max-width: 90vw;
    }
}

#debug-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#main_canvas {
    background: black;
}

[style*="--aspect-ratio"] > :first-child {
    width: 100%;
}
[style*="--aspect-ratio"] > canvas {
    height: auto;
}
@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }
    [style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}

#temperature_display {
    text-align: center;
    font-size: 8vmin;
    line-height: 150%;
    padding: 1vh 0;
}

#calibration_div, #temperature_div {
    border-top: 1px solid #808080;
    background: #404040;
    flex-direction: column;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: left 0.3s ease-in-out;
}


#calibration_div.show-scan {
    left:100vw;
}

#calibration-controls {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 8vmin;
    padding: 1vh 0;
}
#calibration-controls > label {
    display: inline-block;
}

#calibration-controls input {
    text-align: center;
    font-size: 8vmin;
    width: 25vmin;
}

#calibration-nav {
    text-align: right;
}

button {
    font-size: 6vmin;
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding: 1vh;
}

#main > *:last-child {
    align-self: flex-end;
}

#main > nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
    justify-content: space-between;
}

#title_div {
    text-align: center;
    color: white;
    margin: 2vh 0 0 0;
    font-size: 8vmin;
}

#thumb-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: stretch;
    align-items: center;
    flex: 1 1 auto;
}

#thumb-container img {
    opacity: 0.1;
    transition: opacity 0.3s;
    height: 5vh;
}

#thumb-container img.selected {
    opacity: 1;
    height: 25vmin;
}

#temperature_display {
    color: white;
    border-bottom: 1px solid #808080;
}
#calibration-controls {
    border-bottom: 1px solid #808080;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 150%;
}
#temperature_div {
    transition: background 0.3s;
}
#temperature_div.cold-state {
    background: #3131b9;
}
#temperature_div.normal-state {
    background: #01b901;
}
#temperature_div.check-state {
    background: #F0D300;
}
#temperature_div.fever-state {
    background: #ff0305;
}
#temperature_div.error-state {
    color: white;
    background: #ff00ff;
}
#temperature_div.error2-state {
    color: white;
    background: #220022;
}


.check-state > #temperature_display {
    color: darkred;
}

#thumb-container img.unselected {
    opacity: 0.2;
    height: 17vh;
    margin: 3px;
}
